@page "/applications/new"
@inherits UserRoleBasePage

@attribute [Authorize(Roles = "Admin, User")]

@inject NavigationManager NavigationManager
@inject NotificationService NotificationService

<div class="container">
    <div class="row">
        <h3>Create New Application</h3>
    </div>

    <ClientInfoNew OnSave="OnSave" OnCancel="GoBack" />
</div>

@code {
    private Task GoBack()
    {
        NavigationManager.NavigateTo(PageRoutes.Applications);
        return Task.CompletedTask;
    }

    private Task OnSave(ClientDtoRead createdApp)
    {
        NotificationService.ShowInfo($"Application '{createdApp.ClientId}' created.");
        NavigationManager.NavigateTo(PageRoutes.ApplicationsEdit(createdApp.Id));
        return Task.CompletedTask;
    }
}
