@using Microsoft.Extensions.Options
@using IdentityServer.Abstraction.Configs
@using IdentityServer.AdminPortal.Web.Models

@if (!IsDismissed)
{
    var secretsCount = GetFilteredSecretsCount();
    if (secretsCount > 0)
    {
        <div class="alert @AlertCssClass alert-dismissible fade show mb-3" role="alert">
            <div class="d-flex align-items-start">
                <div class="my-auto">
                    <TelerikSvgIcon Icon="@IconType" Class="me-2" />
                </div>
                <div class="flex-grow-1">
                    <span>@GetBannerMessage(secretsCount)</span>
                </div>
                <button type="button" class="btn-close" @onclick="Dismiss" aria-label="Close"></button>
            </div>
        </div>
    }
}
