@* Copyright (c) 2026 SEFE Securing Energy for Europe GmbH. *@
@* SPDX-License-Identifier: Apache-2.0 *@

<div class="row">
    <div class="col k-form-hint">Learn about grant types from the <a href="https://wiki/spaces/gde/pages/582989848/MWPTI+-+IdentityServer+-+UserGuide+-+Create+an+Application#MWPTIIdentityServerUserGuideCreateanApplication-CreatingtheApplication" target="_blank" rel="noopener" aria-label="user guide (opens in a new tab)" class="ms-1">user guide <span class="visually-hidden">(opens in a new tab)</span></a></div>
</div>
