@using Telerik.Blazor.Components
@using Telerik.DataSource
@using IdentityServer.AdminPortal.Web.Pages


@if (AccessLevel == SystemPermissionRoleType.None)
{
    <span class="text-break">@Text</span>
}
else
{
    <a class="btn btn-link text-start text-break text-decoration-underline" href="@Href">@Text</a>
}

@code {
    [Parameter]
    public SystemPermissionRoleType AccessLevel { get; set; }

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string Href { get; set; } = string.Empty;
}
