@* Copyright (c) 2026 SEFE Securing Energy for Europe GmbH. *@
@* SPDX-License-Identifier: Apache-2.0 *@

<div class="row"><h5 class="my-auto">@Text</h5></div>

@code {
    [Parameter]
    public string? Text { get; set; }
}