@* Copyright (c) 2026 SEFE Securing Energy for Europe GmbH. *@
@* SPDX-License-Identifier: Apache-2.0 *@

@using System.ComponentModel.DataAnnotations

<label for="@ForTarget" class="k-label k-form-label">
    @LabelText
    <span style="color:red">&nbsp;*</span>
</label>

@code {
    [Parameter, Required]
    public string LabelText { get; set; } = null!;

    [Parameter]
    public string? ForTarget { get; set; }
}
