@using IdentityServer.Abstraction.Extensions

@Expiration.FormatAsUtcString()
@if (Expiration == null)
{
    <span class="badge bg-warning ms-1">Never expires</span>
}
else if (Expiration.IsExpired())
{
    <span class="badge bg-danger ms-1">Expired @(@Expiration.GetTimeDistanceInDays()) days ago</span>
}
else if (Expiration.IsExpiringSoon(DaysBeforeExpirationNotification))
{
    <span class="badge bg-warning ms-1">Expires in @(@Expiration.GetTimeDistanceInDays()) days</span>
}

@code {
    [Parameter]
    public DateTime? Expiration { get; set; }

    [Parameter]
    public int DaysBeforeExpirationNotification { get; set; }
}
