@* Copyright (c) 2026 SEFE Securing Energy for Europe GmbH. *@
@* SPDX-License-Identifier: Apache-2.0 *@

<div class="row mb-2 mx-auto">
    <div class="col-12">
        <small id="createdAt" class="form-text text-muted">
            <span class="font-weight-bold">Created:</span> @Created.FormatForUi()
        </small>
    </div>
    @if (Updated > DateTime.MinValue)
    {
        <div class="col-12">
            <small id="updatedAt" class="form-text text-muted">
                <span class="font-weight-bold">Updated:</span> @Updated.FormatForUi() @if (!string.IsNullOrEmpty(UpdateReason)) { <text> (@UpdateReason)</text> }
            </small>
        </div>
    }
</div>

@code {
    [Parameter]
    public DateTime? Created { get; set; }

    [Parameter]
    public DateTime? Updated { get; set; }

    [Parameter]
    public string? UpdateReason { get; set; }
}
