@* Copyright (c) 2026 SEFE Securing Energy for Europe GmbH. *@
@* SPDX-License-Identifier: Apache-2.0 *@

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager

<TelerikDialog Width="400px" Visible="true" ShowCloseButton="false" ButtonsLayout="DialogButtonsLayout.Center" CloseOnOverlayClick="false">
    <DialogTitle>Your session has expired</DialogTitle>
    <DialogContent>
        <p>Please log in again to continue using the application.</p>
    </DialogContent>
    <DialogButtons>
            <TelerikButton ThemeColor="primary" OnClick="GoToLogin" ButtonType="ButtonType.Button">Login</TelerikButton>
    </DialogButtons>
</TelerikDialog>


@code {
    private void GoToLogin()
    {
        NavigationManager.NavigateToLogin("authentication/login");
    }
}
